body, html {
    background-color: #CCCEDA;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
nav {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background-color: #e5e7ee;
    box-shadow: rgba(0, 0, 0, 0.062) 2px 2px 20px;
}
nav a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: black;
    left: 80%;
    padding: 40px;
    top: 30%;
    font-size: 30px;
}
nav p {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 43%;
    left: 8%;
    font-size: 30px;
    color: #3d3d3d;
    text-shadow: rgba(0, 0, 0, 0.089) 0px 5px 5px;
}
.hiddenEasteregg {
    visibility: hidden;
 }
 .nav_picture {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 9%;
    left: 1%;
    background-image: url("resources/Zirixpfp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: 0.2s;
}
 .contact_div {
     position: absolute;
     top: 15%;
     height: 90%;
     width: 100%;
 }
 .links_div {
background-color: rgb(22, 22, 22);
color: white;
    position: absolute;
    top: 60%;
    height: 35%;
    width: 25%;
    left: 38%;
    text-align: center;
    border-radius: 5px;
 }
 .contact_div h1 {
     font-family: sans-serif;
     position: relative;
     text-align: center;
     font-size: 150px;
     top: 0;
     margin: 0px;
 }
 .contact_div h3 {
    font-family: 'tiempos', Georgia;
    position: relative;
    text-align: center;
    font-size: 24px;
    top: 5%;
}
.links_div h4 {
    font-family: 'tiempos', Georgia;
    position: relative;
    text-align: center;
    font-size: 24px;
    top: 15%;
}
.links_div h5 {
    position: relative;
    text-align: center;
    font-size: 14px;
    top: 20%;
    padding: 10px;
    color: rgb(240, 240, 240);
}
.links_div h5 span {
    color: #babff0;
}
h5 a {
    text-decoration: none;
    color: #f8d1c3;
}
#email {
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 10%;
    width: 18%;
    padding: 22px 125px;
    left: 35%;

    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
    transition: 0.4s;
}
#github {
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 10%;
    width: 18%;
    padding: 22px 125px;
    left: 28%;

    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
    transition: 0.4s;
}
#email:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}
#github:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}
/*design*/
::-moz-selection { /* Code for Firefox */
    color: rgb(10, 10, 10);
    background: rgb(240, 240, 240);
  }
  
  ::selection {
    color: rgb(10, 10, 10);
    background: rgb(240, 240, 240);
  }


  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    nav p {
        left: 30%;
        top: 30%;
        font-size: 20px;
    }
    nav a {
        left: 70%;
        padding: 5px;
        top: 30%;
        font-size: 10px;
    }
    .contact_div h1 {
        font-size: 50px;
    }
    .contact_div h3 {
       font-size: 20px;
   }
   #email {
    width: 18%;
    padding: 2px 15px;
    left: 20%;
}
#github {
    top: 10%;
    width: 18%;
    padding: 2px 15px;
    left: 0%;
}
.links_div {
        top: 60%;
        height: 40%;
        width: 75%;
        left: 10%;
     }
     .links_div h4 {
        font-size: 24px;
        top: 10%;
    }
    .links_div h5 {
        font-size: 14px;
        top: 15%;
        padding: 5px;
        color: rgb(240, 240, 240);
    }
  }
  /* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    nav p {
        left: 20%;
        top: 50%;
        font-size: 30px;
    }
    nav a {
        left: 70%;
        padding: 30px;
        top: 35%;
        font-size: 30px;
    }
.contact_div h1 {
  font-size: 50px;
}
.contact_div h3 {
 font-size: 20px;
}
#email {
width: 18%;
padding: 20px 15px;
left: 45%;
}
#github {
top: 10%;
width: 18%;
padding: 20px 15px;
left: 30%;
}
.links_div {
  top: 60%;
  height: 35%;
  width: 65%;
  left: 17%;
}
.links_div h4 {
  font-size: 24px;
  top: 10%;
}
.links_div h5 {
  font-size: 14px;
  top: 15%;
  padding: 5px;
  color: rgb(240, 240, 240);
}}
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      nav p {
          font-size: 35px;
          top: 15%;
          left: 10%;
      }
      .contact_div h1 {
        font-size: 50px;
    }
    .contact_div h3 {
       font-size: 20px;
   }
   #email {
    width: 18%;
    padding: 20px 15px;
    left: 45%;
}
#github {
    top: 10%;
    width: 18%;
    padding: 20px 15px;
    left: 30%;
}
.links_div {
        top: 60%;
        height: 35%;
        width: 65%;
        left: 17%;
     }
     .links_div h4 {
        font-size: 24px;
        top: 10%;
    }
    .links_div h5 {
        font-size: 14px;
        top: 15%;
        padding: 5px;
        color: rgb(240, 240, 240);
    }
}
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 
    .aboutmetext {
        visibility: hidden;
    }
    .portfworks {
        visibility: hidden;
    }
    nav a {
        visibility: hidden;
    }
    .hiddenEasteregg {
        visibility: visible;
        position: absolute;
        top: 150%;


    }
}
