body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
}
body {
    background-color: #FEFEFE;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
a {
    font-size: 20px;
    position: relative;
    display: grid;
    line-height: 128px;
    text-align: center;
    cursor: pointer;

    color: #787878;
    font-weight: 200;
}
.navbar {
    visibility: hidden;
}
.header {
    position: relative;
    top: 20%;
}
.header h1 {
    font-size: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;

    color: #303030;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.header h3 {
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height: 500px;
    
    font-weight: 200;
    color: #787878;
}
#portfolio {
    height: 180%;
    width: 100%;
}
.portfolio-wrapper {
    position: relative;
    top: 40%;
}
.portfolio-wrapper h2 {
    font-size: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height: 300px;
    
    font-weight: 300;
    color: #303030;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
#strengths {
    height: 100%;
    width: 100%;
}
.strengths-wrapper {
    position: relative;
    top: 0;
}
.strengths-wrapper h2 {
    font-size: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height: 300px;
    
    font-weight: 300;
    color: #303030;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
#contact {
    height: 100%;
    width: 100%;
}
.contact-wrapper {
    position: relative;
    top: 0;
}
.contact-wrapper h2 {
    font-size: 40px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    line-height: 300px;
    
    font-weight: 300;
    color: #303030;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.contact-wrapper h3 {
    position: relative;
    font-weight: 200;
    font-size: 20px;
    right: 20%;
}
.contact-wrapper h4 {
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 100px;
}
@media screen and (min-width: 700px) {
    .navbar {
        position: fixed;
        visibility: visible;
        width: 100%;
        height: 100px;
        z-index: 1;
        background: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(74, 0, 172, 0.25);
        transition: 0.3s;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .navbar a {
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    display: inline;
    padding: 50px;
    top: 25%;
    left: 35%;
    text-decoration: none;
    color: black;
    }
    .scroll-color-portfolio {
        box-shadow: 0px 4px 4px rgba(5, 0, 255, 0.25);
    }
    .scroll-color-strengths {
        box-shadow: 0px 4px 4px rgba(141, 1, 59, 0.25);;
    }
    .scroll-color-contact {
        box-shadow: 0px 4px 4px rgba(61, 61, 61, 0.25);
    }
    .header {
        transition: opacity 0.2s;
        top: 50%;
    }
    .header h1 {
        font-size: 60px;
        text-shadow: 0px 2px 4px rgba(74, 0, 172, 0.25);
    }
    .header h3 {
        font-size: 25px;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .portfolio-wrapper {
        position: relative;
        top: 40%;
        transition: opacity 0.2s;
        opacity: 0;
    }
    .portfolio-wrapper-hide {
        opacity: 1;
    }
    .strengths-wrapper {
        opacity: 0;
        transition: opacity 0.2s;
    }
    .strengths-wrapper a {
        cursor: default;
    }
    .strengths-wrapper-hide {
        opacity: 1;
    }
    .portfolio-wrapper h2 {
        font-size: 60px;
        text-shadow: 0px 2px 4px rgba(5, 0, 255, 0.25);

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .strengths-wrapper h2 {
        font-size: 60px;
        text-shadow: 0px 2px 4px rgba(141, 1, 59, 0.25);

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .contact-wrapper h2 {
        font-size: 60px;
        text-shadow: 0px 2px 4px rgba(61, 61, 61, 0.25);

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .contact-wrapper h3 {
        font-size: 25px;
        right: 10%;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .contact-wrapper h4 {
        font-size: 25px;
        line-height: 100px;
    }
    .contact-wrapper {
        opacity: 0;
        transition: opacity 0.2s;
    }
    .contact-wrapper-hide {
        opacity: 1;

    }
}
/*Making the website a bit nice-er*/
@media screen and (min-width: 700px) {
    .navbar {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .header h3 {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .portfolio-wrapper h2 {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .strengths-wrapper h2 {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .contact-wrapper h2 {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .contact-wrapper h3 {
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    ::-moz-selection { /* Code for Firefox */
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
      }
      
      ::selection {
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
      }
}

