body, html {
    background-color: #CCCEDA;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
nav {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background-color: #e5e7ee;
}
nav a {
    cursor: pointer;
    position: relative;
    color: black;
    left: 70%;
    padding: 40px;
    top: 30%;
    font-size: 30px;
}
nav p {
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 30px;
}
.hiddenEasteregg {
    visibility: hidden;
}
.nav_picture {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 9%;
    left: 1%;
    background-image: url("resources/Zirixpfp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: 0.2s;
}
.portfworks {
    position: absolute;
    height: 70%;
    width: 55%;

    left: 2%;
    top: 24%;
    display:block;
}
.portfworks h2 {
    position: relative;
    text-align: center;
}
.portfworks_picture1 {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 65%;
    left: 26%;
    background-image: url("resources/portfpicture1.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
.portfworks_picture2 {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 15%;
    background-image: url("resources/portfpicture2.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
.portfworks_picture3 {
    position: absolute;
    height: 40%;
    width: 40%;
    left: 55%;
    top: 15%;
    background-image: url("resources/portfpicture3.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
.portfworks_picture1:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 20px;
}
.portfworks_picture2:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 20px;
}
.portfworks_picture3:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 20px;
}
.aboutmetext {
    position: absolute;
    width: 25%;
    height: 70%;
    top: 27%;
    left: 70%;
}
.aboutmetext h2 {
    position: relative;
    text-align: center;
}
.aboutmetext p {
    font-size: 20px;
    line-height: 45px;
}
/*design*/
::-moz-selection { /* Code for Firefox */
    color: rgb(10, 10, 10);
    background: rgb(240, 240, 240);
  }
  
  ::selection {
    color: rgb(10, 10, 10);
    background: rgb(240, 240, 240);
  }


  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .aboutmetext p {
        font-size: 8px;
        line-height: 10px;
    }
    .aboutmetext h2 {
      font-size: 10px;
    }
    .portfworks h2 {
      font-size: 10px;
    }
    .portfworks {
        height: 50%;
        width: 60%;
        top: 27%;
    }
    nav p {
        left: 30%;
        top: 30%;
        font-size: 20px;
    }
    nav a {
        left: 70%;
        padding: 5px;
        top: 30%;
        font-size: 10px;
    }
  }
  /* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .aboutmetext p {
        font-size: 15px;
        line-height: 20px;
    }
    .aboutmetext h2 {
      font-size: 30px;
    }
    .portfworks h2 {
      font-size: 30px;
    }
    .portfworks {
        height: 50%;
        width: 60%;
        top: 27%;
    }
    nav p {
        left: 20%;
        top: 50%;
        font-size: 30px;
    }
    nav a {
        left: 70%;
        padding: 30px;
        top: 35%;
        font-size: 30px;
    }
  }
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      nav p {
          font-size: 35px;
          top: 20%;
      }
      .aboutmetext p {
          font-size: 20px;
          line-height: 20px;
      }
}
@media 
  (max-device-width: 218px)
  and (max-device-height: 281px) { 
    .aboutmetext {
        visibility: hidden;
    }
    .portfworks {
        visibility: hidden;
    }
    nav a {
        visibility: hidden;
    }
    .hiddenEasteregg {
        visibility: visible;
        position: absolute;
        top: 150%;


    }
}
