/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-text {
        height: 75vh;
    }
    .about-text h4 {
        width: 85%;
    }
    .header-container i {
        padding-bottom: 7%;
    }
    #about {
        height: 95vh;
    }

    #portfolio {
        height: 200vh;
    }
    .portfolio-grid {
        align-items: center;
        flex-direction: column;
        height: 170vh;
    }
    .header-buttons i {
        font-size: 30px;
    }
    h1 {
        font-size: 30px;
        width: 80%;
    }
    .portfolio-container h3 {
        font-size: 40px;
    }
    .about-container h3 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 20px;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .about-text {
        height: 55vh;
    }
    .about-text h4 {
        width: 85%;
    }
    .header-container i {
        padding-bottom: 7%;
    }
    #about {
        height: 75vh;
    }

    #portfolio {
        height: 200vh;
    }
    .portfolio-grid {
        align-items: center;
        flex-direction: column;
        height: 170vh;
    }

}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .about-text {
        height: 45vh;
    }
    .about-text h4 {
        width: 85%;
    }
    .header-container i {
        padding-bottom: 7%;
    }
    #about {
        height: 65vh;
    }

    #portfolio {
        height: 160vh;
    }
    .portfolio-grid {
        align-items: center;
        flex-direction: column;
        height: 140vh;
    }

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .about-text {
        height: 25vh;
    }
    .about-text h4 {
        width: 55%;
        font-size: 25px;
    }
    #about {
        height: 45vh;
    }
    .item {
        margin: 10px;
        width: 200px
    }
    .portfolio-grid {
        height: 40vh;
    }
    .header-buttons i {
        font-size: 60px;
    }
    h1 {
        font-size: 60px;
        width: 80%;
    }
    .portfolio-container h3 {
        font-size: 60px;
    }
    .about-container h3 {
        font-size: 60px;
    }
    .about-text h4 {
        font-size: 20px;
    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .about-text {
        height: 50vh;
    }
    .about-text h4 {
        width: 35%;
    }
    #about {
        height: 65vh;
    }

}
@media screen and (min-width: 2200px) {
    #portfolio {
        height: 60vh;
    }
    .portfolio-grid {
        height: 40vh;
    }
    .portfolio-container h3 {
        font-size: 50px;
    }
    #about {
        height: 40vh;
    }
    .about-text {
        height: 25vh;
    }
    .about-text h4 {
        font-size: 28px;
    }
    .header-buttons i {
        font-size: 60px;
    }
    h1 {
        font-size: 5vw;
    }
    .portfolio-container h3 {
        font-size: 5vw;
        padding-top: 4%;
    } 
    .about-container h3 {
        padding-bottom: 100px;
        font-size: 5vw;
    }
    .about-text h4 {
        margin-top: 100px;
    }
}