/* header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: rgb(235, 235, 235);
}
.header-container span {
    color: rgb(40, 131, 216);;
}
#header-span {
    transition: 0.4s ease;
}
.header-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.header-buttons button {
    cursor: pointer;
    font-size: 0.1px;
    margin: 30px;
    background-color: #090c10;
    border: none;
    outline: none;
    text-decoration: none;
}
.header-buttons i {
    background-color: #090c10;
    font-size: 2vw;
}
.changeBtn-red {
    color: rgb(216, 40, 40);
}
.changeBtn-blue {
    color: rgb(40, 131, 216);
}
.changeBtn-green {
    color: rgb(40, 216, 55);
}
/* portfolio */
#portfolio {
    height: 100vh;
    background-color: #090c10;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    height: 10%;
}
.portfolio-container h3 {
    padding-top: 10%;
    font-size: 5vw;
    color: rgb(235, 235, 235);
}
.portfolio-grid {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60vh;
}
.item {
    margin: 75px;
    padding: 50px;
    height: 80px;
    width: 190px;
    text-decoration: none;
    border-radius: 7px;
    background-size: cover;
    transition: 0.3s ease;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 2px 2px 5px);
}
.item i {
    font-size: 50px;
    padding-top: 20px;
    margin: 10px;
}
/* about */
#about {
    height: 30vh;
}
.about-container {
    display: flex;
    justify-content: center;
    height: 10%;
}
.about-container h3 {
    padding-top: 0;
    font-size: 5vw;
    color: rgb(245, 245, 245);
}
.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    color: rgb(235, 235, 235);
    letter-spacing: 1.5px;
}
.about-text h4 {
    font-size: 1.8vw;
    font-weight: 400;
    width: 45%;
}
.about-text a {
    text-decoration: none;
    color: rgb(41, 128, 179);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-thumb {
    background-color: silver;
}